<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exp 01 - Luces y Materiales</title>
  <link rel="stylesheet" href="../style/style.css">

  <!-- MAPA DE IMPORTACIONES OBLIGATORIO PARA THREE.JS -->
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.160.0/examples/jsm/"
      }
    }
  </script>

</head>
<body>

  <!-- Volver al inicio -->
  <a href="../index.html" class="btn-back" title="Volver al inicio" aria-label="Volver al inicio">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
  </a>

  <!-- Canvas WebGL -->
  <canvas id="webgl"></canvas>

  <!-- Script de la pruba -->
  <script type="module" src="../scripts/exps/exp-01-luces.js"></script>
</body>
</html>